/.idea
/star-match/node_modules
/star-match/public/bundles/
/star-match/build/
/star-match/src/dist/
/star-match/coverage/
/star-match/.reactful.json
/star-match/yarn-error.log
/star-match/.env
/star-match/.vscode/
/star-match/.DS_Store